nav{
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}

.logo{
    text-decoration: none;
    color: black;
}

.cart{
    display: flex;
    background-color: rgba(127, 255, 212, 0.274);
    padding: 0.3rem .6rem;
    position: relative;
    text-decoration: none;
    color: black;
}

.cart span{
    font-size: 0.8rem;
    position: absolute;
    right: -2px;
    top: -2px;
    padding: 0.2rem;
    background-color: red;
    color: white;
    border-radius: 20px;
}

span{
    color: red;
}