span {
    color: red;
}

h3,
h4 {
    text-align: center;
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.itemCard {
    transition-duration: 0.3s;
    width: 15rem;
    height: 22rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    color: black;
    background-color: aliceblue;
    margin: 0.3rem 0.5rem;
    padding: 0.5rem;
    border-radius: 10px;
}

.itemCard h3 {
    text-align: left;
}

.itemCard:hover {
    transition-duration: 0.3s;
    width: 15.5rem;
    height: 22.5rem;
    background-color: rgb(206, 211, 216);
    box-shadow: 4px 4px rgba(188, 143, 143, 0.2);
}

.itemCard .image {
    margin-bottom: 1rem;
    align-self: center;
    width: 10rem;
    height: 10rem;
    border-radius: 10px;
    background-color: aqua;
}

.itemCard h3 {
    margin: 0;
    padding: 0;
}

.price {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btns {
    display: flex;
    justify-content: space-between;
    justify-self: last baseline;
    align-items: flex-end;
}

.btns .add {
    border-radius: 10px;
    text-decoration: none;
    background-color: rgb(6, 199, 199);
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.btns .add:hover {
    transition-duration: 0.5s;
    background-color: rgb(0, 133, 133);
}